<div class="modal-header success">
  <h4 class="modal-title" id="modal-title">
      GraphQL Operation Whitelist
      <a  class="modal-close pull-right" ng-click="close()">
          <i class="mdi mdi-close"></i>
      </a>
  </h4>
</div>
<div class="col-md-12 bg-light-grey padding">
  <p class="text-muted no-margin">Manage GraphQL Operation Whitelist for <strong><span class="text-success">{{consumer.username || consumer.custom_id}}</span></strong></p>
</div>

<div class="modal-body" id="modal-body">
  <form class="form-horizontal">
        <div class="form-group">
                <div class="col-sm-offset-4 col-sm-7">
                    <button type="submit" class="btn btn-primary" ng-click="manage()">
                        <i class="mdi mdi-check"></i>
                        Submit
                    </button>
                </div>
        </div>

      <div class="form-group" ng-class="{'has-error' : errors.operationName}">
          <label class="col-sm-4 control-label">name <br><em><small class="help-block">required</small></em></label>
          <div class="col-sm-7">
              <input ng-model="operation.operationName" class="form-control">
              <div class="text-danger" ng-if="errors.operationName" data-ng-bind="errors.operationName"></div>
              <p class="help-block">The name of the operation (query or mutation)</p>
          </div>
      </div>
      <div class="form-group" ng-class="{'has-error' : errors.query}">
          <label class="col-sm-4 control-label">Query <br><em><small class="help-block">required</small></em></label>
          <div class="col-sm-7">
              <textarea ng-model="operation.query" class="form-control">
              <div class="text-danger" ng-if="errors.query" data-ng-bind="errors.query"></div>
              <p class="help-block">The query to whitelist</p>
          </div>
      </div>
  </form>
</div>